{
    "env": {
        "node": true,
        "jest": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:jest/recommended",
        "plugin:node/recommended"
    ],
    "plugins": [
        "jest",
        "node"
    ],
    "rules": {}
  }
  